<main>
    Доброго дня, <b><%= locals.username %></b>!<br />
    От Вас поступила регистрация на сайте don-vadimon.online<br />
    Для подтверждения адреса электронной почты пройдите пожалуйста по
    <a href="<%= locals.confirmUrl %>">ссылке</a> .
</main>
