:root {
    --nav-h: 78px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 12px;
    height: 100vh;
    overflow: hidden;
}

#v-app {
    width: 100%;
    height: 100%;
}

.navbar {
    height: var(--nav-h);
}

main {
    height: calc(100% - var(--nav-h));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'chat rooms alerts';
}

main section {
    overflow: auto;
    height: 100%;
    padding: 0 8px;
}

section.chat {
    scroll-behavior: smooth;
    grid-area: chat;
    position: relative;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.chat-message {
    display: inline-flex !important;
    flex-direction: column;
    align-self: flex-start;
    width: 80%;
    margin: 8px;
}

.chat-message.self {
    align-self: flex-end;
}

.chat-message strong {
    font-size: 0.8em;
}

.chat-message i {
    font-size: 0.6em;
}

.chat .chat-top {
    position: sticky;
    top: 0;
    left: 0;
    background: white;
    box-sizing: border-box;
    padding: 8px 0;
}

.chat .chat-top h1 {
    margin: 0 0 8px 0;
}

.chat .chat-form {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px 0 12px 0;
    background: white;
}

.chat .chat-form .field {
    flex-grow: 1;
    margin-right: 12px;
}

section.rooms {
    grid-area: rooms;
}

.room-tab {
    display: flex;
    flex-direction: column;
    background: rgb(147, 208, 208);
    padding: 12px;
    border-radius: 16px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: all linear 0.3s;
}

.room-tab.active {
    background: #7957d5;
    color: #ffffff;
}

.room-tab:hover {
    background: #543e92;
    color: #ffffff;
}

.room-tab h5 {
    margin: 0 0 8px;
}

.room-tab p {
    margin: 0;
}

.new-room-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 0;
}

section.alerts {
    grid-area: alerts;
}

.tab-row {
    padding-top: 20px;
}

.tab-btn.active {
    background: blue;
    color: white;
}

.custom-scrollbar::-webkit-scrollbar {
    position: absolute;
    width: 8px;
    height: 8px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: grey;
    border: 2px solid white;
    border-radius: 10px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #b4b4b480;
}
